---
Checks: >
  -*,
  readability-*,
  readability-non-const-parameter,
  readability-qualified-auto,
  modernize-*,
  modernize-avoid-c-arrays,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-trailing-return-type,
  modernize-use-using,
  performance-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-inc-dec-in-conditions,
  cert-*,
  cert-dcl50-cpp,
  cert-dcl58-cpp,
  cert-err09-cpp,
  cert-err61-cpp,
  cert-fio19-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop54-cpp
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-function-cognitive-complexity.Threshold
    value: 20
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: 'false'
